body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f6f9;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #1f3c88;
    font-weight: bold;
}

h1 {
    color: #1f3c88;
}

ul {
    line-height: 1.8;
}
